<template>
    <vimeo-player ref="player" :video-id="videoID" @ready="onReady" :player-height="height">
    </vimeo-player>
</template>

<script>

// https://www.npmjs.com/package/vuetify-media-player 
export default {
data() {
    return {
        videoID: '351846654',
        height: 600,
        options: {},
        playerReady: false,
    }
},
methods: {
    onReady() {
        this.playerReady = true
    },
    play () {
        this.$refs.player.play()
    },
    stop () {
        this.$refs.player.stop()
    }
}
}

// https://vimeo.com/351846654
</script>

